@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Montserrat&family=Outfit&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&family=Hanken+Grotesk&family=Montserrat&family=Outfit&family=Pacifico&display=swap');

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	
}

img {
	display: block;
}

:root {
	--border-radius: 1rem;
}

html {
	font-family: Fraunces;
	font-size: 11px;
	text-align: center;
	color: hsl(228, 45%, 44%);
}

body {
	scrollbar-gutter: stable;
	padding: 2rem 1rem;
	width: 100vw;
	height: 100vh;
	background-color: hsl(30, 38%, 92%);
}

main {
	display: flex;
	flex-flow: column nowrap;
	width: 95%;
	height: 95%;
	border-radius: var(--border-radius);
}

main > img {
	border-top-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);
}

.info {
	border-radius: 0 0 var(--border-radius) var(--border-radius);
	display: flex;
	flex-flow: column nowrap;
	padding: 2rem;
	height: 100%;
	align-items: flex-start;
	justify-content: space-around;
	text-align: left;
	background-color: white;
	color: black;
}

.info > span {
	display: block;
}

/* PERFUME */
.info > span:first-child {
	opacity: 0.9;
	letter-spacing: .5rem;
	text-transform: uppercase;
	font-family: Montserrat;
}

/* Name of item */
.info > span:nth-child(2) {
	font-size: 3.2rem;
	font-weight: 700;
	line-height: 1;
}

/* Item description */
.info > span:nth-child(3) {
	opacity: 0.9;
	font-family: Montserrat;
	font-size: 1.3rem;
}

/* Price */
.info > span:nth-child(4) {
	display: flex;
	flex-flow: row nowrap;
	font-size: 3rem;
	font-weight: 700;
	color: hsl(158, 36%, 37%);
}

/* Old price */
.info > span:nth-child(4) > span {
	height: fit-content;
	transform: translateY(1rem);
	padding-left: 2rem;
	font-size: 1.3rem;
	color: black;
	opacity: 0.9;
	text-decoration: line-through;
}

/* Add to cart */
.info > span:nth-child(5) {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	font-family: Montserrat;
	font-size: 1.2rem;
	font-weight: 700;
	letter-spacing: .1rem;
	color: white;
	background-color: hsl(158, 36%, 37%);
	border-radius: var(--border-radius);
	height: 4.5rem;
	margin-left: auto;
	margin-right: auto;
}

/* Cart image */
.info > span:nth-child(5) > img  {
	border-radius: 0;
	padding-right: 1rem;
}

.largeimage {
	display: none;
}

@media (min-width: 376px) {
	body {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	main {
		align-items: center;
		justify-content: center;
		flex-flow: row nowrap;
		width: 700px;
		height: 500px;
	}

	main > img {
		border-radius: var(--border-radius) 0 0 var(--border-radius);
		height: 100%;
	}

	.info {
		border-radius: 0 var(--border-radius) var(--border-radius) 0;
	}

	.info > span:nth-child(3) {
		font-size: 1.5rem;
		line-height: 2.5rem;
	}

	.smallimage {
		display: none;
	}

	.largeimage {
		display: block;
	}
}